.contact__links {
  list-style: none;
  padding: 0;
  margin-top: 1rem;

  display: flex;
  gap: 1.5rem;
}

.contact__links a {
  font-weight: 500;
  text-decoration: none;
  color: var(--text-primary);

  transition: color 0.2s ease;
}

.contact__links a:hover {
  color: var(--accent);
}
