.header {
  text-align: center;
}

.header__icons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.header__icons li {
  display: block;
  flex: 0 0 auto;
}
